@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #f5e4c6;
  --secondary-color: #f4b700;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.bigScreen {
  display: none;
}
@media screen and (min-width: 568px) {
  .bigScreen {
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
  }
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .modal p {
    margin: 20px;
    width: 80vw;
    max-width: 700px;
  }
}
